body {
	margin:0;
	background:black
}


p{
 color:white;
 font-family: "Lucida Console", Monaco, monospace;
}
b{
	color:white;
}
h1{
	font-family: "Lucida Console", Monaco, monospace;
	color:white;
}

#cabecalho{
	
	
}
#cabecalho h1{
	margin: 0;
	padding:8px;

}

#menu{

	padding-left:8px;
	padding-bottom:5px;
	padding-top: 5px;
}
#rodape{
	 	padding: 15px 8px; /* (top e bottom) + (left + right) */ 
 	clear:both; /* limpa a propriedade float */
 }
#conteudo{
	float: left;
	width: 70%;
	
}
.coluna{
	float: left;
	width: 70%;
}


.coluna_1{
float: left;
	width: 30%;
	margin:0;
	
}
.coluna img{
	width:50%;
	height: auto;
}
.coluna_1 img{
	width:100%;
	height: auto;
}
#samu{
	width:50%;
	float: left;

}
#seu{
	width:50%;
	float: right;
	margin:0;
}